name: Deploy
on:
  push:
    branches:
      - "main"

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Sync ArgoCD Application
        uses: omegion/argocd-actions@v1
        with:
          address: ${{ vars.ARGOCD_ADDRESS }}
          token: ${{ secrets.ARGOCD_TOKEN }}
          action: sync
          appName: ${{ vars.ARGOCD_APP_NAME }}
